fastapi
uvicorn
langgraph
langchain
langchain-openai
langchain-groq
tavily-python
qdrant-client
redis
python-dotenv
pydantic
pydantic-settings
langchain-core
langchain-huggingface 
sentence-transformers